.navBar{
    width: 100%;
    background-color:white;
    border-bottom: 1px solid gray;
    height:60px;
    top:0;
    position:fixed;
    .container{
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        height:100%
    }
    .profile{
        position: relative;
        top:-30px;
    }
    .right-side{
        display:flex;
        gap:20px;
        align-items: center;
    }
    .logout{
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}